# Week 2
# 8 February, 2023

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('cereal.csv')
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

### 1. Tabulate the following attributes: mfr, and type of cereals

In [2]:
df2=df.loc[:,['name','mfr','type']]
df2

                         name mfr type
0                   100% Bran   N    C
1           100% Natural Bran   Q    C
2                    All-Bran   K    C
3   All-Bran with Extra Fiber   K    C
4              Almond Delight   R    C
..                        ...  ..  ...
72                    Triples   G    C
73                       Trix   G    C
74                 Wheat Chex   R    C
75                   Wheaties   G    C
76        Wheaties Honey Gold   G    C

[77 rows x 3 columns]

### 2. Display the 5 number summary for all nutritional attributes starting from calories to vitamins

In [4]:
df3=df.loc[:,['calories','protein','fat','sodium','fiber','carbo','sugars','potass' ,'vitamins']]
df3.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000

### 3. For missing values find and replace with arithmetic mean of the attributes

In [5]:
for x in [ 'calories', 'protein', 'fat', 'sodium', 'fiber','carbo', 'sugars', 'potass', 'vitamins']:
    df[x] = df[x].replace('?','-1')
    df[x] = df[x].astype('float64')
    df[x] = np.where((df[x]==-1), df[x].mean(), df[x])
z = []
for x in [ 'calories', 'protein', 'fat', 'sodium', 'fiber','carbo', 'sugars', 'potass', 'vitamins']:
    z.append((df[x]==(-1)).sum())
print(z)
df

[0, 0, 0, 0, 0, 0, 0, 0, 0]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4.0,1.0,130.0,10.0,5.0,6.0,280.000000,25.0,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3.0,5.0,15.0,2.0,8.0,8.0,135.000000,0.0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70.0,4.0,1.0,260.0,9.0,7.0,5.0,320.000000,25.0,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.0,4.0,0.0,140.0,14.0,8.0,0.0,330.000000,25.0,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2.0,2.0,200.0,1.0,14.0,8.0,96.077922,25.0,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2.0,1.0,250.0,0.0,21.0,3.0,60.000000,25.0,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1.0,1.0,140.0,0.0,13.0,12.0,25.000000,25.0,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3.0,1.0,230.0,3.0,17.0,3.0,115.000000,25.0,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3.0,1.0,200.0,3.0,17.0,3.0,110.000000,25.0,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2.0,1.0,200.0,1.0,16.0,8.0,60.000000,25.0,1,1.0,0.75,36.187559

### 4. Find and replace outliers with median.

In [5]:
def remove_outlier_IQR(df):
    Q1=df.quantile(0.25)
    Q3=df.quantile(0.75)
    IQR=Q3-Q1
    df_final=df[~((df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR)))]
    return df_final
df[[ 'calories', 'protein', 'fat', 'sodium', 'fiber','carbo', 'sugars', 'potass', 'vitamins']]=remove_outlier_IQR(df[[ 'calories', 'protein', 'fat', 'sodium', 'fiber','carbo', 'sugars', 'potass', 'vitamins']])
for x in [ 'calories', 'protein', 'fat', 'sodium', 'fiber','carbo', 'sugars', 'potass', 'vitamins']:
     df[x] = df[x].replace(np.nan,df[x].median())

### 5. Compare the 5 number summary before and after preprocessing.

In [6]:
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.0,77.000000,77.000000,77.000000,77.000000
mean,107.272727,2.402597,1.012987,181.298701,1.781818,14.799966,7.024962,85.872154,25.0,2.207792,1.029610,0.821039,42.665705
std,8.051865,0.892361,1.006473,60.089859,1.511250,3.881605,4.349770,47.746848,0.0,0.832524,0.150477,0.232716,14.047289
min,90.000000,1.000000,0.000000,15.000000,0.000000,5.000000,0.000000,15.000000,25.0,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,140.000000,1.000000,12.000000,3.000000,45.000000,25.0,1.000000,1.000000,0.670000,33.174094
50%,110.000000,2.000000,1.000000,185.000000,1.500000,14.597403,7.000000,90.000000,25.0,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,110.000000,25.0,3.000000,1.000000,1.000000,50.828392
max,120.000000,4.000000,5.000000,320.000000,6.000000,23.000000,15.000000,230.000000,25.0,3.000000,1.500000,1.500000,93.704912

### 7. Are the attributes calories and consumer rating correlated?

In [7]:
df2 = df[['calories', 'rating']]
df2.corr()

          calories    rating
calories  1.000000 -0.689376
rating   -0.689376  1.000000

### 8. Are the attributes mfr and consumer rating correlated?

In [8]:
pd.crosstab(df['rating'],df['mfr']).head()

mfr        A  G  K  N  P  Q  R
rating
18.042851  0  0  0  0  0  1  0
19.823573  0  1  0  0  0  0  0
21.871292  0  0  0  0  0  1  0
22.396513  0  1  0  0  0  0  0
22.736446  0  1  0  0  0  0  0

### 9. Which is the best Vs worst cereal in terms of user rating?

In [9]:
print("Cereal with best rating is:" +str(df['rating'].max()))
df.loc[df['rating']==df['rating'].max()].name

Cereal with best rating is:93.704912

3    All-Bran with Extra Fiber
Name: name, dtype: object

In [10]:
print("Cereal with worst rating is :" +str(df['rating'].min()))
df.loc[df['rating']==df['rating'].min()].name

Cereal with worst rating is :18.042851

10    Cap'n'Crunch
Name: name, dtype: object

### 10. Which is the best Vs worst cereal in terms of calories?

In [11]:
print("Cereal with worst calories is :" +str(df['calories'].min()))
df.loc[df['calories']==df['calories'].min()].name

Cereal with worst calories is :90.0

8                     Bran Chex
9                   Bran Flakes
50            Nutri-grain Wheat
60               Raisin Squares
64       Shredded Wheat 'n'Bran
65    Shredded Wheat spoon size
68      Strawberry Fruit Wheats
Name: name, dtype: object

In [12]:
print("Cereal with best calories is :" +str(df['calories'].max()))
df.loc[df['calories']==df['calories'].max()].name

Cereal with best calories is :120.0

1                          100% Natural Bran
10                              Cap'n'Crunch
12                     Cinnamon Toast Crunch
27    Fruit & Fibre Dates; Walnuts; and Oats
28                             Fruitful Bran
34                        Great Grains Pecan
35                          Honey Graham Ohs
48                          Nut&Honey Crunch
52                     Post Nat. Raisin Bran
58                               Raisin Bran
Name: name, dtype: object

### 11. Rate the top 5 cereals in terms of user rating?

In [13]:
df.sort_values('rating', ascending=False).head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
3,All-Bran with Extra Fiber,K,C,110.0,4.0,0.0,140.0,1.5,8.0,0.0,90.0,25.0,3,1.00,0.50,93.704912
64,Shredded Wheat 'n'Bran,N,C,90.0,3.0,0.0,185.0,4.0,19.0,0.0,140.0,25.0,1,1.00,0.67,74.472949
65,Shredded Wheat spoon size,N,C,90.0,3.0,0.0,185.0,3.0,20.0,0.0,120.0,25.0,1,1.00,0.67,72.801787
0,100% Bran,N,C,110.0,4.0,1.0,130.0,1.5,5.0,6.0,90.0,25.0,3,1.00,0.33,68.402973
63,Shredded Wheat,N,C,110.0,2.0,0.0,185.0,3.0,16.0,0.0,95.0,25.0,1,0.83,1.00,68.235885

### 12. Identify the cereal with the highest sodium.

In [14]:
print("Cereal with highest sodium is :" +str(df['sodium'].max()))
df.loc[df['sodium']==df['sodium'].max()].name

Cereal with highest sodium is :320.0

53    Product 19
Name: name, dtype: object

### 13. Identify the cereal with the lowest carbohydrate.

In [15]:
print("Cereal with lowest carbohydrate is :" +str(df['carbo'].min()))
df.loc[df['carbo']==df['carbo'].min()].name

Cereal with lowest carbohydrate is :5.0

0    100% Bran
Name: name, dtype: object

### 14. Are the variable shelf and sugar correlated?

In [16]:
df2=df[['sugars','shelf']]
df2.corr()

          sugars     shelf
sugars  1.000000  0.067868
shelf   0.067868  1.000000

### 15. Identify the manufacturer of the cereal with the highest sugar.

In [17]:
df.groupby('mfr').max().sugars.nlargest(1)

mfr
K    15.0
Name: sugars, dtype: float64

### 16. Replace missing values with mean.

In [18]:
df.fillna(df.mean(numeric_only=True).round(1), inplace=True)

### 17. Find outliers using 1.5 \* IQR.

In [19]:
def remove_outlier_IQR(df):
    Q1=df.quantile(0.25)
    Q3=df.quantile(0.75)
    IQR=Q3-Q1
    df_final=df[~((df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR)))]
    return df_final